<!DOCTYPE html>
<html>

<head>
  <title>Search</title>
  <link href="/main.css" rel="stylesheet" type="text/css">
</head>
<nav>
  <h1 class="heading">Going out Tonight?</h1>
</nav>

<body>
  <div class="form-section">
    <form action="/search/results/" method="get">
        <h3>Search for bars in your area:</h3>
      <div id="search_form">
        <input class="search-city" type="text" placeholder="e.g San Diego" name="place">
        <button type="submit" id="find_btn">Find</button>
      </div>
    </form>
  </div>
</body>

</html>
