body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #66b3ff;
  margin: auto;
  padding: 0;
}

.registration {
  margin: auto;
  text-align: center;
  height: 100px;
}

.heading {
  padding-top: 50px;
  margin: auto;
  text-align: center;
}

.form-section {
  width: 70%;
  margin: auto;
}

input[type=text], select {
  width: 70%;
  height: 30px;
  font-size: 20px;
  padding: 20px auto 20px;
  margin: auto;
  border: 1px solid #999999;
  border-radius: 5px;
  box-sizing: border-box;
}

button[type=submit] {
  width: 100px;
  height: 30px;
  background-color: #097a11;
  color: white;
  font-size: 20px;
  margin: 20px auto 0px auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.going_btn {
  width: 115px;
  background-color: #cfd2d6;
  color: black;
  padding: 10px 20px;
  font-size: 20px;
  display: block;
  margin: 10px auto 10px auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
  white-space: nowrap;
}

.notGoing_btn {
  width: 115px;
  background-color: #cfd2d6;
  color: black;
  padding: 10px 20px;
  font-size: 20px;
  display: block;
  margin: 10px auto 10px auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  white-space: nowrap;
}

.image-edit {
  width: 300px;
  height: 200px;
}

.location-info {
  margin: 10px auto 10px auto;
  display: block;
  padding-left: 3%;
  background: #b3c2db;
  width: 80%;
  height: 350px;
}

.image-section {
  display: inline-block;
  width: 400px;
  height: 100%;
  overflow: auto;
}

.buttonCluster {
  width: 300px;
  height: 80px;
}

.image-info {
  display: inline-block;
  width: 400px;
  height: 100%;
  overflow: auto;
}

.form_elements {
  width: 300px;
  margin: auto;
  text-align: center;
}

.loginErrMsg {
  color: red;
  font-size: 14px;
}

.login_label {
  padding-top: 20px;
  border: none;
  font-size: 1.5em;
}

input[type=password], select {
  width: 210px;
  height: 30px;
  padding: 12px 20px;
  margin: 8px auto 0px auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.username_label {
  width: 210px;
  height: 30px;
  padding: 12px 20px;
  margin: 8px auto 0px auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.log_btn {
  float: right;
  margin: 40px 30px;
  font-size: 40px;
}